html
{

	font-family: sans-serif;
	font-size: 14px;

}

header 
{
	text-align: center;
	background-color: gray;

}
aside 
{
	background-color: red; 
}
nav
{
	background-color: yellow;
}
footer
{
	text-align: center
}